#containerEncabezado{
    text-align: center;
}
#titulo{
    color: brown;
    margin-top: 5%;
    
}


.img0{
    text-align: center;
    margin-top: 10px;
}

#textoInicio{
    color: rgb(197, 22, 22);
    text-align: center;
}



.card{
    cursor: pointer;
    transition: 0.2s;
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hiden{
    display: none !important;
}
